/* ========================================
   RESET & BASE STYLES
   ======================================== */

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: #05121A;
}


/* ========================================
   LAYOUT
   ======================================== */

.container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: min-content;
    height: 100vh;
    margin: 0 auto;
    padding: 0 40px;
    border-left: 1px solid #131F25;
    border-right: 1px solid #131F25;
}


/* ========================================
   TYPOGRAPHY
   ======================================== */

h3 {
    width: 500px;
    margin: 0 0 30px 0;
    font-family: "Space Grotesk";
    font-size: 36px;
    font-weight: 200;
    text-align: center;
    color: #FFFFFF;
}


/* ========================================
   PANEL COMPONENTS
   ======================================== */

.panel {
    position: relative;
    height: fit-content;
    margin: 0 auto;
    padding: 5px;
    background-color: #091A23;
    border: 1px solid #1F323C;
    border-radius: 9px;
}

.panel::before,
.panel::after {
    content: "";
    position: absolute;
    left: -100vw;
    display: flex;
    width: 300vw;
    height: 1px;
    background-color: #131F25;
}

.panel::before {
    top: -40px;
}

.panel::after {
    bottom: -40px;
}

.resultPanel {
    padding: 35px;
    background-color: #163341;
    border: 1px solid #2D4754;
    border-radius: 5px;
}

.resultElement {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-family: "Space Grotesk";
    font-weight: 100;
    letter-spacing: 1px;
    color: #fff;
    background-color: #091A23;
    border-radius: 3px;
}


/* ========================================
   FORM ELEMENTS
   ======================================== */

form {
    padding: 35px;
}

.formLine {
    display: flex;
    flex-direction: row;
    gap: 38px;
    margin-bottom: 25px;
}

label {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5px;
    font-family: "Space Grotesk";
    font-size: 13px;
    font-weight: 100;
    color: #8B979E;
}

label > input,
label > select {
    height: 38px;
    padding: 0 15px;
    font-family: "Space Grotesk";
    font-weight: 100;
    color: #fff;
    background-color: #163341;
    border: 1px solid #2D4754;
    border-radius: 3px;
}

label > input {
    color-scheme: dark;
}

label > select {
    height: 42px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

label > input:focus-visible,
label > select:focus-visible {
    outline: none;
    border-color: #8a979e;
}


/* ========================================
   BUTTONS
   ======================================== */

.submitButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(50% - 20px);
    height: 42px;
    margin: 35px auto 0 auto;
    padding: 4px;
    font-family: "Space Grotesk";
    font-size: 14px;
    color: #fff;
    background-color: #061822;
    border: 1px solid #1E333D;
    border-radius: 3px;
}

.submitButton:hover {
    cursor: pointer;
    background-color: #163341;
    border: 1px solid #163341;
    color: #fff;
}

.submitButton:hover .iconButton {
    background-color: #061822;
}

.iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%;
    background-color: #163341;
    border-radius: 2px;
}

.contentButton {
    width: 100%;
}


/* ========================================
   DATA DISPLAY
   ======================================== */

.dataList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px auto 0 auto;
    padding: 0;
}

.dataList > div {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.dataList > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    font-family: "Space Grotesk";
    color: #ffffff;
}

.dataList span {
    color: #bebebe;
}